doctype html
html(lang="ru")
head
	meta(charset="UTF-8")
	title Document
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
	style
		include ../css/imp.css
	script
		| if(document.all && !document.addEventListener){
		| 	getStyleAsync("../css/fonts_ie8.css?ver=1.0.0",'fonts_ie8');
		| } else {
		| 	getStyleAsync("../css/fonts.css?ver=1.0.0",'fonts');
		| }
		| //getStyleAsync("../css/all.css?ver=1.0.0",'all');
		include ../bower_components/async-styles-loader/async-style.min.js
	link(rel="stylesheet", href="../css/all.css")
body
	block content