doctype html
html
	head
		meta(charset='utf-8')
		title Title
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		//link(rel="stylesheet", href="../fonts/fonts.css")
		link(rel="stylesheet", href="../css/all.css")
		block links
	body
		block content
		script(type='text/javascript',src='../script/all.js',async="async")