colsclassname = "cols"
default-cols = 12
existing = ("test" 105),("more" 300)
setWidth(classname, width)
	exists = false
	for pair in existing
		if width == pair[1]
			exists = true
			.{classname}
				@extends .{pair[0]}
	pair = classname, width
	unless exists
		.{classname}
			if width is 100%
				width: width
			else
				width: width
				*width: round((width - 0.031), 4)
	
	push(existing, pair)


cols(amount, from = false, suffix = false)
	unless from
		from = default-cols
	width = round((100% / from * amount),4)

	if suffix
		classname = colsclassname+"-"+suffix+"-"+amount+"-"+from
	else if from
		classname = colsclassname+"-"+amount+"-"+from
	else
		classname = colsclassname+"-"+amount
	setWidth(classname, width)

cols(1,1)
cols(5,5)